*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.list{
    list-style: none;

}


.bg-prim{
    background-color: rgb(41, 137, 247);
}

.bg-prim-kam{
    background-color:  rgb(175, 235, 227);
}

.my-3{
    margin: 3rem 0px;
}

.my-2{
    margin: 2rem 0px;
}

.row-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.column-flex{
    display: flex;
    flex-direction: column;
}

.flex-item{
    flex: 1;
}

.btn{
    color: white;
    border: 0px;
    background-color: rgb(41, 137, 247);
    cursor: pointer;
    font-size: 1.25rem;
    padding: 15px;
    border-radius: 5%;
}

.btn:hover, .current{
    background-color: white;
    color: rgb(41, 137, 247);
}

.btn-green{
    background-color: rgb(175, 235, 227);
    color: black;
}

.btn-green:hover{
    background-color: rgb(199, 240, 234);
    color: black;
}

.btn-white{
    background-color: white;
    color: black;
}
.btn-white:hover{
    background-color: rgb(218, 215, 215);
    color: black;

}

.text-center{
    text-align: center;
}

.text-red{
    color: brown;
}

.text-large{
    font-size: x-large;
}

.block{
    display: block;   
}

.bold{
    font-weight: bold;
}

.py-1{
    padding: 1em 0px;
}

.py-2{
    padding: 1.75em 0px;
}


.px-1{
    padding: 0em 1px;
}

.contain{
    flex-basis: 800px;
}

.border-1{
    border: 1px black solid;
}

#table , #table tr, th, td{
    border: 1px black solid;
    padding: 2rem;
    border-collapse: collapse;
}

#form h2{
    margin-bottom: 10px;
}

.submit{
    margin-top: 10px;
}

.submit:hover {
    background-color: rgb(33, 105, 189);
    color: white;
}

.heigh-100{
    height: 100%;
}

.center-item{
    justify-content: center;
    align-items: center;
}

.center-flex{
    justify-content: center;
    align-items: center;
}

#center{
    flex-basis: 80vh;
}

#form{
    font-size: 1.25rem;
}

#form input, label{
    margin-bottom: 5px;
}

#form input[type="text"], input[type="number"]{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

#center-form{
    justify-content: center;
    align-items: center;
}

#navbar img{
    height: 100px;
}

#navbar{
    padding: 10px;    
}

#footer{
    justify-content: center;
    position: absolute;
    width: 100%;
    min-height: 5rem;
    bottom: 0px;
}

#footer-re{
    justify-content: center;
    position: absolute;
    width: 100%;
    min-height: 5rem;
}
#transbox{
    padding: 20px 10px;
    background-color: rgba(255,255,255,0.5);
}

#welcome{
    background: url("/images/taxi") no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#welcome h1, p{
    margin: 2rem 0;
}